{
  "useDevelopmentStorage": false,
  "DefaultEndpointsProtocol"= "https",
  "connectionString": "...",
  "accountName": "samplestorageforationfi",
  "accountKey": "Vsd2SKLOZrxMxfCvcdNfi468ZxUEHSD/pOwsF5NuvQWMMWKKTxfrbRjdXY20ifAmgSCpwEpmiIOAcJAsZW1nRQ==",
  "containerName" : "someimagescontainer",
  "sas": ""
}
