{
  "useDevelopmentStorage": false,
  "connectionString": "DefaultEndpointsProtocol=https;AccountName=samplestorageforationfi;AccountKey=lRwlkD7V3R7GNncU4Q9Lc2Qe47a5ZM+zmptY4OvPKkBQS8noEe7TkuLk6qIyM8WSVMzhNySGCHI1M99a9hxtsg==;EndpointSuffix=core.windows.net",
  "accountName": "",
  "accountKey": "",
  "containerName" : "someimagescontainer",
  "sas": ""
}
