{
  "useDevelopmentStorage": false,
  "connectionString": "...",
  "accountName": "samplestorageforationfi",
  "accountKey": "lRwlkD7V3R7GNncU4Q9Lc2Qe47a5ZM+zmptY4OvPKkBQS8noEe7TkuLk6qIyM8WSVMzhNySGCHI1M99a9hxtsg==",
  "containerName" : "someimagescontainer",
  "sas": "",
  "DefaultEndpointsProtocol":"https",  
  "EndpointSuffix":"core.windows.net"
}
